[2017-07-02 02:12] dlong500 opened #1 "passing options to the webpack compiler?"
I'm not seeing any way to pass additional options to the webpack compiler.  Not even something as common as using the `UglifyJSPlugin`.

Because of this, the resultant file is not minified or optimized in any way and is very large.  Am I missing something or have you just not added these capabilities yet?

[2017-07-02 02:59] arunoda opened #2 "Usage with CommonsChunks module"
Hey, this looks like pretty great.

I just started trying to integrate this with Next.js. (We've a pretty complex webpack config)
Specially we use the "common chunks plugin".

When I use this as mentioned in the recommend way,  I got react and react-dom in the `vendor.js`. But it's also in the `commons.js`as well.

This is my code: https://github.com/zeit/next.js/pull/2433/files

Is there anything

[2017-07-02 13:05] d3viant0ne commented on #1
Why would you use `UglifyJSPlugin` in development?

All this does is extend the functionality of Webpacks existing DLL functionality which is limited to development & exists for the purpose of reducing rebuild cycle times.

It's unrelated to any other plugins, less the injection via html-webpack-plugin.

[2017-07-02 17:50] asfktz commented on #2
Hi, @arunoda,
I would love to help you!

I believe it's related to the `context`.
It must be set correctly. Otherwise, you'll get the same modules in both the DLL and the regular bundles.

This is one of the things that brought me a lot of headaches when I tried to figure out how the DLLPlugin works.

You should **set the context to the root of the project**.

For example:
If your project is struc

[2017-07-02 20:09] asfktz commented on #1
Hi @dlong500,

In the context of a production build, it does makes a lot of sense.

I plan to merge https://github.com/asfktz/autodll-webpack-plugin/pull/4 tomorrow, after I'll double check it.

[2017-07-03 00:33] arunoda commented on #2
@asfktz Thanks for the help.
We don't have webpack config file, but I assume the [context](https://github.com/zeit/next.js/blob/v3-beta/server/build/webpack.js#L82) we set is correct.

Thanks for the mention about the `inject` flag.
I'll try more.

[2017-07-03 05:45] vagusX opened #6 "Is it possible to set path as an abosulte path?"
I use `recommend` examples, using `webpack-dev-server --history-api-fallback --config ./webpack.config.js` to run local dev env, and I found that
* in path `http://localhost:8080/123`, `http://localhost:8080/dll/vendor_8e0afce396bf5cfa4447.js` is accessible
* in path `http://localhost:8080/123/123` , `http://localhost:8080/dll/vendor_8e0afce396bf5cfa4447.js` is not accessible

webpack config here:

[2017-07-03 06:05] asfktz commented on #6
Interesting! I'll check it.

In the meantime, try to change `./dll`' to `/dll`, tell me if it helps.

[2017-07-03 06:11] vagusX commented on #6
I changed `./dll` to `/dll`, and
![screen shot 2017-07-03 at 2 10 46 pm](https://user-images.githubusercontent.com/6828924/27780084-8495feb8-5ff9-11e7-86ea-51605ff9e01b.png)

[2017-07-03 06:12] asfktz commented on #2
I'll try to run your fork locally, to see if I can help you set it up.
Hope to get to it later tonight.

[2017-07-03 07:47] arunoda commented on #2
@asfktz that'd be amazing.
Thanks.

[2017-07-03 12:11] OneCyrus commented on #6
same problem here. HtmlWebpackPlugin injects the following:
`<script type="text/javascript" src="vendor_121c4bd3d86e7db99c76.js"></script><script type="text/javascript" src="/main.bundle.js"></script></body>`

the autodll-bundle with relative path and the main webpack bundle with an absolute path.

[2017-07-03 12:50] asfktz commented on #6
I see. Ok, I'll fix it.

[2017-07-04 05:27] asfktz opened #7 "Watch Mode"
Currently, the conditions for cache invalidation are:
1. npm `install` / npm `remove`
2. The plugin's settings are different from the last build.

As discussed in https://github.com/facebookincubator/create-react-app/pull/2710
Adding a watch functionality might be useful.

For examples, if someone adds a 'console.log()' in one of the node_modules, it will trigger a new build.

[2017-07-04 05:31] sudo-suhas opened #8 "npm install runs prepublish"
This only affects people looking to contribute to the project. I realise that you are using yarn but I haven't yet switched to it. If I try `npm install`, the following happens:
[code]

Additionally, I am on windows so `del ./lib && babel src --out-dir lib` isn't valid either.

[2017-07-04 05:53] sudo-suhas commented on #8
Happens with yarn as well:
[code]

[2017-07-04 05:56] #1 closed

[2017-07-04 06:03] asfktz commented on #8
Hi @sudo-suhas,
Thank you for letting me know, I was not aware of that.

I changed `prepublish` to `prepublishOnly`

About `del ./lib && babel src --out-dir lib`
I'm am not using windows, so I need a bit of help with that one,
If you `cd` into the project, and run `./node_modules/.bin/del ./lib`, it works?

[2017-07-04 06:22] sudo-suhas commented on #8
From `del-cli` readme

I tried this as well. Works.

[2017-07-04 06:29] viankakrisna commented on #7
For the watch option, I think it should be an array of resolved paths that we should watch.
[code]

And save hashes of those files and directory in the cache folder. So instead of just comparing JSON,  `isCacheValid` will compare hashes of files, folder, and setting. This would affect the initial build time but will make overall validation more accurate in the next start.

Then, the compiler needs

[2017-07-04 06:38] sudo-suhas opened #9 "test 'createMemory should have bundles' failing on Windows"
This only affects people looking to contribute to the project. Probably a windows only bug.

<details>
<summary>Edit: This section of the report is a yarn bug. Ignore.</summary>

Steps:
[code]

This is probably not an issue with this library though.

</details>

<br>

If I do an `npm install`, the tests run but one fails:
[code]

[2017-07-04 06:41] viankakrisna commented on #7
btw I've written a similar implementation of this plugin in [this CRA PR](https://github.com/facebookincubator/create-react-app/pull/1651/files). It would be nice if we can join the feature.

[2017-07-04 16:23] asfktz commented on #8
I learn something new everyday. Merged. Thanks (:

[2017-07-04 16:51] #8 closed

[2017-07-04 17:37] sudo-suhas commented on #8
I did too! Best part of open source 😄

[2017-07-05 00:32] vagusX commented on #6
@asfktz  maybe here (https://github.com/asfktz/autodll-webpack-plugin/blob/master/src/plugin.js#L38) should concat with `output.pulbicPath` from `context.options`?

[2017-07-05 03:28] sudo-suhas opened #16 "Example cannot be run with node 4"
If I try to run the recommended example with node 4, the following happens:
[code]

I don't think this is a big deal but maybe mention the compatible node version in the readme? You could also include a `engines` key in `package.json` like so:
[code]

[2017-07-05 03:34] sudo-suhas opened #17 "Cannot be used with node 4"
[code]

[2017-07-05 03:42] sudo-suhas commented on #17
Why not setup [travis](http://www.codeblocq.com/2016/04/Setup-Travis-CI-with-your-node-project/)?

[2017-07-05 04:27] sudo-suhas commented on #9
Opened issue upstream - https://github.com/yarnpkg/yarn/issues/3827.

[2017-07-05 04:43] sudo-suhas opened #20 "Examples use older version of lib"
For example:
https://github.com/asfktz/autodll-webpack-plugin/blob/master/examples/recommended/package.json#L11

This can be used either with `"autodll-webpack-plugin": "latest"` or `"autodll-webpack-plugin": "file:../../"` as used in the [minification exmaple](https://github.com/asfktz/autodll-webpack-plugin/blob/master/examples/minification/package.json#L10).

Personally, I feel using a latest p

[2017-07-05 05:29] sudo-suhas commented on #9
This fails due to `memory-fs` detecting that [`'/my/cache/dir'`](https://github.com/asfktz/autodll-webpack-plugin/blob/master/specs/createMemory.spec.js#L7) which [gets normalized](https://github.com/webpack/memory-fs/blob/master/lib/MemoryFileSystem.js#L28) to `'\my\cache\dir\bundles'` is [not a valid path](https://github.com/webpack/memory-fs/blob/master/lib/MemoryFileSystem.js#L31)) for windows

[2017-07-05 05:34] asfktz commented on #2
Turns out It was the context after all, but in a different way than I expected.

Your bundles look like that:

[code]

(note that next.js is a symlink, but it should work as a regular dependency too)

We got two different contexts here.

For the pages bundles, it was the user's project root as expected (`dir` in your case),
but for `main.js` - it's a different one.

I was surprised to discover tha

[2017-07-05 05:39] arunoda commented on #2
Thanks for @asfktz for digging into this.
Ping me when you've the cache fix.

[2017-07-05 05:41] asfktz commented on #6
Apologies for the slow respond, real life got too busy in the last few days.

Thanks for pointing out @vagusX, I plan to fix it later today.

[2017-07-05 05:56] asfktz commented on #7
Hi, @viankakrisna! good to see you here (:
I apologize for the late response, the real world got waaay too busy for me in the last few days.
Bad timing I guess 😅

Thanks for the PRs! I am eager to dive into it. That's my plan for tomorrow.

[2017-07-05 05:58] viankakrisna commented on #7
No problem! Just ping me if you need anything :)

[2017-07-05 06:06] asfktz commented on #7
Oh and one more thing!

Please keep in mind that more than one instances of the plugin can be used.
Like in this case: https://github.com/asfktz/autodll-webpack-plugin/issues/2#issuecomment-313000425

[2017-07-05 06:28] viankakrisna commented on #7
that's making cleanup trickier, maybe we can set up a counter inside the constructor?

[2017-07-05 07:27] viankakrisna commented on #7
updated https://github.com/asfktz/autodll-webpack-plugin/issues/13 with NODE_ENV and instance id

[2017-07-05 14:24] #17 closed

[2017-07-05 14:27] asfktz commented on #17
Merged.

Yep. That's On my list too

[2017-07-05 15:08] asfktz commented on #20
I prefer `latest` because as a user it might be confusing to try to run the examples and see them fails if you don't know that you must build the project first.

In the contribution guide, we can explain that it is possible to test the examples using `npm link`

What do you think?

[2017-07-05 15:28] sudo-suhas commented on #20
@asfktz that sounds perfect.

[2017-07-05 15:31] sudo-suhas commented on #16
Sorry.. Closed the wrong one

[2017-07-05 15:58] asfktz opened #21 "performance example throw error on build"
Steps to reproduce:

1. git clone the project
2. `cd examples/performance/`
3. `npm install`
4. `npm build`

Results:

[code]

[2017-07-05 16:00] asfktz commented on #20
done.

[2017-07-05 16:00] #20 closed

[2017-07-05 17:11] ankit opened #22 "Watch for changes to files / package.json"
I am currently using https://github.com/shlomiassaf/webpack-dll-bundles-plugin which looks for changes to `package.json` in node modules to recompile the dlls, which is really useful if the node module gets updated.

With that plugin, I am also doing a hack, where I have added a `package.json` to local code in order to pull out local library code (until it is moved out into its own npm package).

[2017-07-05 20:13] asfktz commented on #6
Done.

Thank you for opening this issue, @vagusX.
It was a critical bug to fix.

[2017-07-05 20:29] asfktz commented on #22
Hi, @ankit

We are currently working on adding watch mode to the Plugin.
I agree with you that It is much needed.

[2017-07-05 20:37] ankit commented on #22
Ah just noticed #7! thanks @asfktz. Closing this issue.

[2017-07-05 20:37] #22 closed

[2017-07-05 21:45] faceyspacey opened #23 "vendor isn't added to stats.asssetsByChunkName"
This would be useful for packages like [webpack-flush-chunks](https://github.com/faceyspacey/webpack-flush-chunks) which automatically grab assets via the `stats.asssetsByChunkName` hash.

By default for example it will grab your `main` and `vendor` bundles (along with any rendered dynamic bundles/imports it detects).

So essentially this saves you from having to add `<script src="dist/vendor.dll.

[2017-07-05 23:56] cgatian opened #24 "Comparison to webpack-dll-bundles-plugin"
What does this plugin do that [webpack-dll-bundles-plugin](https://github.com/shlomiassaf/webpack-dll-bundles-plugin) doesn't?

Looking at the two plugins, they are very similar.

[2017-07-06 05:19] sudo-suhas opened #28 "Switch to pify instead of bluebird?"
Right now, `bluebird` is being used mainly for promisifying callback-style functions. Wouldn't it be better to use a lighter, more focused module like [`pify`](https://github.com/sindresorhus/pify) for this? [`Bluebird.join`](https://github.com/asfktz/autodll-webpack-plugin/blob/master/src/createMemory.js#L19) is also used but that can be achieved using `Promise.all` as suggested [here](https://gi

[2017-07-06 05:51] asfktz commented on #28
I agree that `pify` is more suited if it was only for promisifying callbacks.
If fact, I used it earlier in the project.
But I really like bluebird's non-standard API.

Take a look at `createMemory`:

[code]

Isn't it much nicer to have the ability to map over promises like that?
What do you think?

(BTW, just notice I better change the second map to each, since it only contains a side effect and

[2017-07-06 05:59] sudo-suhas commented on #28
Sorry.. I didn't see that carefully. I like the `Bluebird.map` too. There is [`p-map`](https://github.com/sindresorhus/p-map) though. But it's better to use `bluebird` than add 2 dependencies.

[2017-07-06 05:59] #28 closed

[2017-07-06 06:14] asfktz commented on #28
If I only count the times (or PRs) that you showed me that I didn't look carefully enough 😉

[2017-07-06 06:29] sudo-suhas commented on #28
@asfktz Ha ha.. 2 sets of eyes better than 1

[2017-07-06 13:49] GrimDev commented on #16
Hi !
Same kind of problem in node 4.2.4 that doesn't support ES2015 destructuring apparently used in this module.
Got a SyntaxError in the file : plugin.js (let { entry } = _ref).

I will upgrade my nodejs soon to fix this problem but it would have been nicer if the lowest supported node version had been written in the README or appears in package.json.
Could you please explicit the compatibility

[2017-07-06 14:11] sudo-suhas opened #29 "package version 0.0.8 not published on npm"
The package version available on npm is still `0.0.7`.

[`v0.0.7` vs `0.0.8`](https://github.com/asfktz/autodll-webpack-plugin/compare/6b58ca0addfc8426c3f6c035a9f666f222ad8c7f...33482a00c00248ee4558879f40da1be19c1666cc)

As you can see, there are important bug fixes not yet published. Please publish at the earliest.

Link - https://www.npmjs.com/package/autodll-webpack-plugin

[2017-07-06 14:15] sudo-suhas commented on #16
@GrimDev As it happens, this issue of not being to use the module with node v4 was identified(#17) and fixed(#19) already. However, due to an oversight, the package version `0.0.8` was not published to npm. I have created an issue for the same - #29. It should be resolved soon. But you are quite right, the compatibility should be explicitly mentioned.

[2017-07-06 16:54] cgatian opened #30 "Two AutoDLLPlugin's overwrite each other"
Trying to utilize this plugin and found that when you add two AutoDLLPlugins to the webpack config the last one wins in creating a manifest in .cache.

To reproduce add two plugins, and attempt a build.

[2017-07-06 19:16] asfktz commented on #29
Oghhh..! I forgot to hit publish. done.

Thanks again @sudo-suhas

[2017-07-06 19:24] asfktz commented on #30
Hi, @cgatian

Thanks for reporting, I also encountered this bug a few days ago.
It's top priority. I'll let you know when it's fixed.

[2017-07-06 19:39] asfktz commented on #23
Hi, @faceyspacey!

Really interesting idea you have here.

Sure, if this little chance can help AutoDLL better cooperate with your plugin I'll gladly add it.
I have a few critical things on my list first, but I will get to it.

You are more than welcome to send a PR if you like (;

[2017-07-06 19:49] #29 closed

[2017-07-06 19:57] asfktz commented on #30
BTW, If you don't mind, I'd really like to know what was your use case for more one instance of the plugin.

[2017-07-06 20:39] cgatian commented on #30
@asfktz we were considering migration to this plugin instead of the `webpack-dll-bundles-plugin` as it hasn't received much attention in the last 6 months,

The setup [this webpack starter](https://github.com/AngularClass/angular-starter/blob/master/config/webpack.dev.js#L145) has basically outlines what we were trying to do.  They create two DLL bundles, one for polyfills and a second for vendor.

[2017-07-07 02:54] viankakrisna commented on #30
I've anticipated this issue in https://github.com/asfktz/autodll-webpack-plugin/pull/13 but does not have a fixture yet. Adding a fixture for this functionality would be a good start so we can test it thoroughly. :)

[2017-07-07 03:06] viankakrisna opened #31 "Add e2e tests: Treat examples like a fixture?"
And write tests for it.

This is beneficial to find regression / developing a new feature.

Right now we only have spec for the units but not for the use cases

[2017-07-07 03:08] viankakrisna commented on #31
To avoid issue like https://github.com/asfktz/autodll-webpack-plugin/issues/21

[2017-07-07 04:33] viankakrisna opened #32 "Setup CI"
creating this issue for a reminder :)

[2017-07-07 04:37] viankakrisna opened #33 "Remove yarn.lock from repo"
Relevant comment
https://github.com/facebookincubator/create-react-app/pull/2014#issuecomment-300811661

Possible solution
https://github.com/facebookincubator/create-react-app/pull/2700

[2017-07-07 04:39] viankakrisna opened #34 "Add CONTRIBUTING.MD"
to ease new contributors

[2017-07-07 10:18] asfktz commented on #24
Great question, @cgatian

To be honest, I wasn't aware of webpack-dll-bundle-plugin when I wrote this one.

AutoDLL started as a humble PR for adding DLL support in create-react-app (CRA).
I intended to do so without adding more complexity to project.

That PR went over many iterations before I realized one day that the best way to do so is to encapsulate the entire logic into a Plugin. After doin

[2017-07-07 11:41] asfktz commented on #31
I'm not familiar with fixtures, but it sounds exactly like what I was looking for.

Can you please tell me more about it?

[2017-07-07 11:43] asfktz commented on #32
Done.

This is so awesome, I love it!

[2017-07-07 11:43] #32 closed

[2017-07-07 11:49] viankakrisna commented on #31
Taken from [here](https://github.com/junit-team/junit4/wiki/test-fixtures)

[2017-07-07 11:53] sudo-suhas commented on #33
Relevant to the discussion, I found this article quite helpful - http://jpospisil.com/2017/06/02/understanding-lock-files-in-npm-5.html

[2017-07-07 11:54] viankakrisna commented on #31
I'm also a new to this testing world (haven't yet set it up from scratch), so I hope I don't use the wrong terms here 😅  Basically it's a file/set of file that we run our test for, to test multiple real world scenario.

[2017-07-07 12:03] viankakrisna commented on #33
@sudo-suhas great read! but not conclusive... It just tell the pros and cons of having a lock file.

So is it a yes to remove it on pre-commit?

[2017-07-07 12:05] sudo-suhas commented on #33
That's one of the reasons I liked it better.

Not sure. Maybe solve problems when you start facing them? Nothing wrong with having an iterative process.

[2017-07-07 12:34] cgatian commented on #24
Wow, thank you @asfktz for the in depth comparison!

I look forward to integrating this into our project, once some of the bumps are cleaned up.  Thank you again. 🙏

[2017-07-07 12:34] #24 closed

[2017-07-07 13:25] vagusX commented on #6
@asfktz  You are welcome, I think this plugin would be pretty helpful 👍

[2017-07-07 13:34] asfktz commented on #31
Looks like something I need to dive into 😄
Will do.

[2017-07-07 13:34] sudo-suhas commented on #33
Just realized, dunno if you noticed, but because of the `files` entry in `package.json`, `yarn.lock` will not be part of the package for the end user.

[2017-07-07 13:41] asfktz commented on #34
Oh, I plan to it every day 😄
That, release notes, better documentation and a road map.
But there's always something more important to do first.

I have a really cool workflow I want to share with you guys, so I hope to get to work on that page soon.

[2017-07-07 14:21] asfktz commented on #30
@cgatian turns out that using DLL in production [is not a bad idea](https://twitter.com/TheLarkInn/status/881319988488937472).

I forked your project to better understand your use case. I don't see more than one instance of DllBundlesPlugin in there.

I do see two bundles, _polyfills_ and _vendor_, but that should be no problem with AutoDllPlugin.

I see that you have separate configs for each env

[2017-07-07 14:28] asfktz commented on #33
`package.json` will be, but not `yarn.lock` and `package-lock.json`

[https://docs.npmjs.com/files/package.json#files](https://docs.npmjs.com/files/package.json#files)

[2017-07-07 14:37] asfktz commented on #24
You're welcome, @cgatian  😊

[2017-07-07 14:39] cgatian commented on #30
@asfktz yes they can be used in production in very clever scenarios.  However, I believe when you're actually using them in production youre going to want to be very strategic in how the DLLs are built.  Something I dont should be totally automated by a package, but on a case by case basis.

Thanks for taking a look. 👍

[2017-07-08 18:02] viankakrisna commented on #33
Yeah, but the issue is how to catch errors early when we develop the plugin. It's what CRA is doing, so, I just think it's nice if we follow it :)

[2017-07-09 04:59] asfktz commented on #33
To be honest, I just not getting it.

We don't want to have yarn.lock in the repo?
If so, why no just .gitignore it?

[2017-07-09 05:20] sudo-suhas commented on #33
So here is what I understand:
- Having a lock file(yarn.lock/package-lock.json) ensures that the dependency tree is deterministic. Meaning that if you have a dependency tree and it works, even if someone else was to run `yarn install` at a later point in time, the dependency tree inside `node_modules` would be exactly the same. While some underlying libraries could have newer versions which are le

[2017-07-09 19:19] asfktz commented on #33
Thanks for the in-depth explanation @sudo-suhas, I understands now.

I removed the file.

[2017-07-09 19:30] #33 closed

[2017-07-09 19:37] viankakrisna commented on #33
It's nice if we have a [pre-commit hook](https://github.com/facebookincubator/create-react-app/pull/2700) that removes the file so no one can accidentally commit it. :)

[2017-07-09 19:47] viankakrisna commented on #31
I think this looks more like an e2e test, I don't know if we should use examples as fixtures or written it separately. The test looks like this https://github.com/viankakrisna/autodll-webpack-plugin/blob/1d5979f96a556764fd862410110814beb2e7643f/specs/features.spec.js

[2017-07-09 19:56] asfktz commented on #33
I'm in

[2017-07-09 20:34] viankakrisna commented on #31
Possible e2e cases to be added:

Integration with other webpack plugins:
- SWPrecache
- ManifestPlugin
- ExtractTextPlugin
This is what commonly used plugins, at least, it used in CRA. If we can write tests and manage compatibility with it, surely it would boost the confidence level to be used in it :)

[2017-07-10 01:49] sudo-suhas commented on #33
How is a pre-commit hook better/different than just adding it to the git ignore file?

[2017-07-10 04:56] viankakrisna commented on #33
gitignore makes you not aware whether or not you have the file in the directrory. Not ignoring it means that that it would show up like a sore thumb when you run git status.

See the linked thread on the first comment, it's a pr specifically ignoring yarn.lock. A pre commit hook is just another safety net to avoid accidentally commiting the file

[2017-07-10 16:06] asfktz commented on #16
@sudo-suhas is it still relevant?

[2017-07-11 03:03] sudo-suhas commented on #16
I was able to run the example on node `v4.8.0`. Closing.

[2017-07-11 03:03] #16 closed

[2017-07-11 06:09] asfktz opened #36 "Instance index is wrong when other plugins are used"
[code]

Should create a cache dir of development_instance_**0**_73245b0499068c0b1433cfcfc30202b8

But instead we get development_instance_**1**_73245b0499068c0b1433cfcfc30202b8

Without HtmlWebpackPlugin we get the correct index

[2017-07-11 06:09] #36 closed

[2017-07-11 15:53] taehwanno commented on #30
@asfktz I think because autodll-webpack-plugin depends on webpack `v3`, angular-starterkit using webpack `v2` will fail in running `npm start`. My private project (webpack `v2.4.1`) also fail in running `npm start` (execute webpack-dev-server). but by updating to `v3`, script succeed.

[code]

[2017-07-11 17:12] asfktz commented on #30
Hi @taehwanno,
Thanks for the insight!

Interesting, even if I set webpack as a `peerDependency` of autodll-webpack-plugin like so:
[code]

I still get this error on angular-starterkit.

But like in your case, upgrading to webpack `v3` solves it.

I believe that the problem is somewhere else because AutoDll only depends on webpack for creating a separate compiler for the DLL and the plugin itself

[2017-07-11 19:22] asfktz commented on #30
@taehwanno are you using `awesome-typescript-loader`?

[2017-07-11 20:07] tquetano-r7 opened #37 "Leverage loaders for use with CSS / images / etc"
Perhaps I'm being optimistic but ... it would be pretty fantastic if we could leverage the webpack loaders we were already using to allow bringing CSS / images into the DLL bundle. Not even sure if its possible, but with packages that are mixed mediums and unchanging (think `font-awesome`) the inclusion would be pretty sweet.

Not an issue, more a polite request / fervent hope.

[2017-07-11 21:39] asfktz commented on #37
Hi, @tquetano-r7!

This is a great idea! never thought about inheriting the loaders from the config before.
Let me sleep on it.

Yeah, only plugins were added. I believe in adding a feature only when I know for sure there's a use case for it. Plugins, for example, were added because people wanted to use the DLL in production and needed a way to pass it thru the uglify plugin.

[2017-07-11 22:23] asfktz commented on #9
Hi, @sudo-suhas
Is this still relevant?

[2017-07-12 01:57] taehwanno commented on #30
Nope. When I retry autodll-webpack-plugin with `v0.2.1` in my private project, script succeeds without errors.

[2017-07-12 03:04] sudo-suhas commented on #9
This test still fails on windows.
In addition to that, [this](https://github.com/asfktz/autodll-webpack-plugin/commit/09686900164770665daebb49a901e0136d77de39#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) change is completely breaking the `yarn test` command:
[code]

[2017-07-12 03:36] sudo-suhas commented on #9
Made PR #38 which solves the `yarn test` failure on windows.

[2017-07-12 06:03] asfktz commented on #30
@taehwanno oh, that's good news (:

[2017-07-12 06:12] asfktz commented on #9
You're awesome as usual, Thanks!

[2017-07-12 06:14] sudo-suhas commented on #9
`createMemory should have bundles` still fails on windows. Reopen please?

[2017-07-12 06:17] asfktz commented on #9
NP

[2017-07-12 14:38] asfktz commented on #30
@cgatian is updating to webpack `v3` an option for you?

[2017-07-12 16:02] cgatian commented on #30
I was trying this in webpack 3. Haven't tried since you released the new
version.

On Wed, Jul 12, 2017, 10:38 AM Asaf Katz <notifications@github.com> wrote:

[2017-07-12 17:20] asfktz commented on #30
@cgatian I already did it in my fork, so I created a PR for you to use if you like:
https://github.com/AngularClass/angular-starter/pull/1828

[2017-07-14 06:49] miraage opened #39 "Minification does not work"
Hello! Your plugin is awesome for development. I'm also trying to use it for production builds, but minification does not work.

This is my environment:
[code]
This is my webpack config:
[code]

[2017-07-14 11:04] asfktz commented on #39
Hi @miraage,
Thanks for reporting!
I'll take a lot at it.

[2017-07-14 18:15] #21 closed

[2017-07-14 19:15] miraage commented on #39
@asfktz. Tested on another project. Minification works with JS, but not TS.

[2017-07-14 20:14] asfktz commented on #39
@miraage can you please post your package.json too, please?

[2017-07-14 20:53] asfktz commented on #31
I started to work on it.
This article looks interesting:  https://blog.iansinnott.com/testing-webpack-plugins/

[2017-07-14 21:58] viankakrisna commented on #31
Great! thanks for sharing it 👍

[2017-07-15 03:54] arunoda commented on #2
@asfktz Nice. I'll play along with this.

[2017-07-15 12:04] asfktz commented on #31
Of Course (:

[2017-07-15 19:49] asfktz commented on #37
Hi, @tquetano-r7,

I'm playing around with this idea in the [loaders](https://github.com/asfktz/autodll-webpack-plugin/tree/loaders) branch.

I would like to share my thoughts with if you don't mind.

First, I can allow the user to pass the `module` option to the DLL compiler.
Which is the same as [webpack's module](https://webpack.js.org/configuration/module/)

[code]

But because it makes a lot

[2017-07-18 11:17] danez commented on #37
It would also help to supply config options which get merged with the default config.
I currently have the case that I'm bundling some modules which also import NodeJS internals like `fs`.

In the main webpack config I just do this to avoid webpack throwing `"Cannot find module"`:

[code]

But when I now try to use this plugin, I cannot set this config.

So maybe it would be possible instead of ju

[2017-07-18 16:19] swernerx opened #43 "Configuration for SSR environments"
Thanks for the hard work on this plugin. Very much appreciated. I always like the idea of the DLLPlugin but it was generally a hassle to set-up.

Right now I am trying to bring the plugin together with SSR (universal rendering) in my React application framework. I was wondering if there is anything special I have to pass to the plugin config as I would assume there will be different vendor bundles

[2017-07-18 16:28] swernerx commented on #30
Just want to add that double instances of the plugin could also be relevant when using the multi compiler feature of Webpack. We use that for efficient SSR (universal) bundling. See also https://github.com/asfktz/autodll-webpack-plugin/issues/43

I would be fine to pass over some specific naming for the caching/output. I does the same already for webpacks new Cache-Loader:

[code]

[2017-07-18 16:29] swernerx commented on #43
I am trying to add it to the edge stack... which means to its built tool: https://github.com/sebastian-software/edge-builder

[2017-07-18 17:05] arzyu opened #44 "imports-loader takes no effect when using autodll-webpack-plugin"
Here is my `webpack.config.js`.

[code]

Since `pixi-layers` use a global PIXI, I use `imports-loader` to add a PIXI import for pixi-layers. This makes `pixi-layers` work.

But after using `autodll-webpack-plugin`, `imports-loader` takes no effect, and `pixi-layers` raise an error `Uncaught ReferenceError: PIXI is not defined`.

See my demo: [webpack-demo.zip](https://github.com/asfktz/autodll-web

[2017-07-18 18:05] #7 closed

[2017-07-18 20:36] asfktz commented on #37
Hi @danez,
Thanks for bringing this up!
It's an important use case to consider.

You are right, It will be much better to find a generic solution instead.
Allowing the user an option to pass his own config is the right way to go, but I still search for the most intuitive way do so.

To better understand the challenges, here's what happens behind the scenes.

If this is your config:
[code]

The gen

[2017-07-18 20:44] asfktz commented on #44
Hi, @arzyu
Thanks for telling me about this!

This is related to https://github.com/asfktz/autodll-webpack-plugin/issues/37 and It will be fixed in the next version.

By the way, I would love the hear your feedback on the [proposed solution](https://github.com/asfktz/autodll-webpack-plugin/issues/37#issuecomment-316189637)

Have a great day (:
Asaf

[2017-07-19 07:08] asfktz commented on #43
Hi @swernerx,
Thanks for sharing this with me,
I always curious to know about advanced use cases for the plugin.

If I understood correctly, you wish to have 2 different bundles,
one for the server and one for the client

What are the results that you're getting with the current setup?

There are two important things to note here:

If you wish to have 2 different bundles, you can specify that in t

[2017-07-21 03:11] sudo-suhas opened #45 "Tests fail if build is not run first"
Test files reference `lib` which is created during build. So tests fail like so:
[code]
This approach has a few disadvantages:
- Changes to source files need to be compiled before it can be tested again.
- The current git pre-commit hook will not catch issues because build may not have been run after changes to source files.
- If in the future, if you wanted to setup coverage, you wouldn't be able

[2017-07-23 06:13] faceyspacey commented on #23
By the way it seems you cant add to `stats`. I tried but it wouldn't work, and then I come across something say it's on the Webpack roadmap.

It's unfortunate, but unless I'm missing something, there's nothing we can do.

[2017-07-23 20:00] asfktz commented on #23
Yeah, I'm thinking quite a lot about it lately.

I believe that the reason the stats don't know anything about the DLL is that the plugin creates a separate compiler for the DLL and call it before the main compiler.

What if I give you access to the DLL compiler?

I can expose a plugin hook

[code]

The catch is that I only compile it when needed, otherwise I read the DLL from the cache (file syst

[2017-07-23 23:19] faceyspacey commented on #23
Regarding the hook, it would need to be 100% reliable. Also currently I'm not passed the compiler, just the stats.

As for the stats, editing the file created by the `stats-webpack-plugin` would work, but then you would be coupled to that plugin, and users would have to write the stats file even in development, etc. The case of using in-memory-stats wouldn't be solved. So I don't think that route

[2017-07-27 07:43] JimmyLv opened #47 "Error: Provided options and query in use"
[code]

[2017-07-27 11:20] #47 closed

[2017-07-27 11:20] JimmyLv commented on #47
Sorry, I made a mistake in another loader config

[2017-07-30 09:21] sudo-suhas commented on #45
@asfktz This issue can be closed right? I think you took care of it.

[2017-08-03 08:08] locotor opened #48 "ProvidePlugin does not work when use AutodllPlugin"
I try to use to simplify the dll config instead of webpack dllplugin，but I have gotten two problem，
the providePlugin doesn not，I use it to export $ and jQuery.
and there are many warning when bundle working， said can't find export **module in @angular/core . but it's work correctly in webpack-dev-server,  I use angular-webpack-starter btw.
please help me how can I fix that？

[2017-08-03 17:44] fortinmike commented on #37
I assumed that this (`autodll-webpack-plugin` using my webpack config's loaders when bundling the DLL) would be done automatically by default. I was surprised when I saw that wasn't the case. I think the proposed "inherit" option would be a nice solution (from my admittedly very limited experience with the plugin).

Technically, loaders can also apply to vendor dependencies. For example, it was pr

[2017-08-14 17:04] Saltallica opened #49 "No issue, just a thank you"
This is the clearest and easiest way to use the DLL feature of webpack. Thank you for the examples and great documentation.

I spent most of a work day trying to get it set up the manual way - I wish I had found your plugin sooner!

[2017-08-15 20:01] asfktz commented on #49
That is definitely the most heart warming issue I ever got.

Thank you for taking the time for telling me that, @Saltallica
I appreciate it very much 🙏

Asaf.

[2017-08-16 07:31] codepunkt commented on #23
Is there an issue for that or does the webpack team have plans on doing so?

[2017-08-21 17:10] thomasbertet commented on #37
@fortinmike I have the same needs, and was quite disapointed too. I guess everyone thinks their use case is a common one ;)

@asfktz IMHO `inherit: true` would make some much sense to me. I'm really looking forward to this.
I'm using two "home-made vendors" deps, one with much SCSS in it, and one with a big load of JS. The DLL plugin is then choking on the SCSS import on my main bundle.

Please le

[2017-08-22 15:30] Kimel1 opened #51 "Webpack 3 ModuleConcatenationPlugin() ruining after recompile."
I use HotModuleReplacementPlugin and  ModuleConcatenationPlugin.
If change code then I got error in console like:
`Uncaught TypeError: Cannot read property 'create' of undefined` and other undefined.
These errors gone if disable ModuleConcatenationPlugin

[2017-08-22 19:24] asfktz commented on #37
@fortinmike @thomasbertet,
Hi! thanks for letting me know how important that feature is. I think so too.

It's important to me to be aware of more advanced use cases so I can keep them in mind while I add new features.

I apologize that it takes so long, My life got a bit too busy lately and I hope to get more free time soon.

I almost finished working on that one. hope to publish it on the weeken

[2017-08-22 19:26] asfktz commented on #51
Hi @Kimel1

Thanks for letting me know!

Do you mind sharing your config with me?

Asaf

[2017-08-22 19:32] asfktz commented on #48
Hi @locotor,
I'm sorry you had to wait so long.

I bet you've found another solution by now.

If I understood you correctly, you added the providePlugin to the DLL config?
Is it work when you use it with webpack's own DllPlugin?

[2017-08-22 19:57] Kimel1 commented on #51
Yes. And I want to note that error appears only if changes was made  in parent component's render function. For example if comment all subcomponents. If to change "bottom" component all will be good.

[code]

error
[code]
[code]

[2017-08-23 10:38] chj-damon commented on #6
@asfktz what if the publicPath is an URL like 'http://localhost:8080/'. I found that autoDllPlugin won't work because in the index.html the path is "http:\localhost:8080\vendor_3b7540be52d24bb3523e.js". So the error is vendor_3b7540be52d24bb3523e.js is not defined.
is there anything I was wrong with the configuration?

[2017-08-23 12:23] asfktz commented on #6
Hi, @chj-damon
Interesting, I'll give it a look.

reopen for now.

[2017-08-23 20:26] alexwalter88 opened #53 "Silent build failure"
I don't think this plugin is ever looking at the stats returned from the DLL compilation. It should probably add warnings and failures from the DLL compilation to the main compilation. In addition, it shouldn't cache the output from a DLL compilation that had errors.

[2017-08-28 18:52] Nargonath opened #54 "Automatically building the dependencies list"
Before finding your plugin, I tried to implement the DLL plugin myself in my projects. I thought that it would be cumbersome for my team to have to manually update the list of dependencies every time they install a dep. Plus I'm sure every now and then we would simply forget to update it. I then created a script that runs on NPM `prestart` hook and that would check the `dependencies` list in the p

[2017-08-29 20:09] asfktz commented on #54
Hi @Nargonath,

Yeah, I agree it will be very useful to have such feature.

I thought about something similar earlier but two reasons kept me from implementing it:

1. I intend the plugin to be an abstraction over the DLLPlugin,
where you don't need to worry about creating a separate config or rebuilding your DLL
but without making too many assumptions about the use cases.

2. I'm still not sure i

[2017-08-30 05:39] xekri opened #55 "Seems conflict with VueSSRServerPlugin"
My server side rendering webpack config is below. When created `vue-ssr-server-bundle.json`, it doesn't use dll vendor file.
When I commented out the `VueSSRServerPlugin`, it seems work fine. I believe there's a conflict with VueSSRServerPlugin, would any one check it? Thx.
PS. use original dll plugin, it works as expected.
[code]

[2017-08-30 22:51] Nargonath commented on #54
Hi @asfktz!

Thanks for your detailed answer.

1. I definitely understand why you want to keep abstracting the DLL boilerplate as it is quite cumbersome. But I feel not having to care about helpers and just using an opt-in option is still heading in that direction, isn't it? I guess you don't like to have a setting in the package.json, do you? It seems accurate to me having the list of dependencie

[2017-09-02 21:55] asfktz commented on #54
The Way I do it is by storing the previous hash in a the cache directory
and compare it with the current hash.

See:
https://github.com/asfktz/autodll-webpack-plugin/blob/next/src/validateCache.js

I'm not satisfied with the implantation.
There is already a hash for the build, ideally package.json should be part of it that hash.

Here you can see that the hash is made from the settings passed to t

[2017-09-03 22:45] Nargonath commented on #54
Actually that's how I read about your package in the first place. I found the original issue where you offered to use your package in CRA.

Yeah you mean that now webpack watches the package.json and whenever it changes, this line https://github.com/asfktz/autodll-webpack-plugin/blob/7e4eccda2d88c4950a582517fabab1637e8bef0b/src/plugin.js#L65 gets called and you just check if the hash is still vali

[2017-09-04 07:36] km-tr opened #56 "Entry point name is not recognized as a directory"
[code]

If it is an entry point of webpack, the slash delimiter is recognized as a directory at the output destination, but is not this plugin supported?

[2017-09-04 08:01] km-tr opened #57 "An error occurs if the entry point contains a dot"
[code]

Syntax error occurs when displayed in browser.

[code]

[2017-09-04 12:33] niieani commented on #37
I would like to confirm that `inherit` makes a lot of sense. Making DLLs would be useful for us to not only split vendors out of the chunks, but also parts of our app itself (we usually don't work on the whole app at the same time, but only on an individual functionality).

[2017-09-05 19:02] asfktz commented on #56
Hi, @km-tr!
Welcome (:

I believe it's related to the DllPlugin itself since the `entry` option is passed to it as is.

Also the same for https://github.com/asfktz/autodll-webpack-plugin/issues/57

[2017-09-06 19:55] asfktz commented on #54
@Nargonath, you are so right! Such a silly mistake.

Yes, being able to automatically update the DLL on invalidation without restarting the dev server will be awesome!

There are quite a few changes that need to be done in order to enable it:

The main challenge as I see it is that the hash is created too early,
It's created by  [createHash](https://github.com/asfktz/autodll-webpack-plugin/blob/ne

[2017-09-06 21:56] asfktz commented on #37
Hi @niieani,
Good to have you here (:

Yeah, I agree. inherit makes a lot of sense for me too.

I implemented both of the features (`inherit` and `config`) on the `next` branch,
They can be used like so:

[code]

#### It works! but there are issues that prevent me from shipping it:

**Inhering plugins**
Currently, plugins are excluded by default.
I'm not sure it's a good idea to merge plugin **ins

[2017-09-07 05:38] sentience opened #58 "Incompatibility with webpack-manifest-plugin"
We use https://github.com/danethurber/webpack-manifest-plugin to output a JSON manifest of source filenames to output filenames, which our application then uses to write the `<script>` and `<link>` tags, and other references to Webpack-compiled assets into our server-side HTML templates.

Using the manual setup for `DllPlugin`, this meant we were producing two JSON manifest files: one for the DLL

[2017-09-08 09:30] EvgenyOrekhov opened #59 "How to use with html-webpack-template?"
[HTML Webpack Template](https://github.com/jaketrent/html-webpack-template) requires setting html-webpack-plugin's `inject` option to `false`, so when I do

[code]

the generated `index.html` is missing the `<script>` tag for `vendor.js`.

[2017-09-08 10:02] Nargonath commented on #54
Actually I thought of that function option but not enough I guess. It is indeed a good idea because we can still give users the choice about the way they want to handle the dependencies and remove the hassle for us to handle multiple entries config as it is their concern. Plus I have to admit that my original suggestion was not that great. There were too many different cases to handle, yours is wa

[2017-09-08 15:56] datapimp commented on #54
Hi, just discovered this project and wanted to offer some comments.  I've built a similar auto-dll plugin which I never got around to publishing, and was able to avoid having to specify any dependencies at all.

One reason I would suggest not using the `package.json` is consider a typical server rendered React app which depends on both `express` and `react`.  You don't want to bundle these in the

[2017-09-08 18:44] datapimp commented on #54
Here's just a sample of one of the module entries.   I initially filtered by the `depth` property of 2, which is where in this particular app you'll begin to see dependencies on external modules.  Depth 0 are your entry modules.

[code]

So if you find all of the module objects where the issuer is part of your project, and where the module is an external module ( most likely anything in node_modul

[2017-09-08 19:50] asfktz commented on #54
That will be awesome, @Nargonath!

Btw, I saw your comment on https://github.com/webpack/webpack/issues/5617
And it made me very happy (:

I care much more about the idea behind the plugin than I care for my implementation of it.
If you can make something even better, I'll be happy to see it.

I believe it's better to continue from the `next` branch.
I added integration tests in it, which turns ou

[2017-09-08 19:50] asfktz commented on #54
Thanks for the insights! @datapimp
That's actually a very interesting approch.

Can you tell us more about the workflow?

If I understand correctly, when you build the project, it creates the DLL after the first run.
But if you build the project for the second time, will it use the DLL?
Or that by "first run", you mean while using the dev server?
If so, what will happen if you add another dependen

[2017-09-08 20:17] soederpop commented on #54
@asfktz yeah that is basically it.

What I did with my plugin was create a folder in `node_modules/.cache/${ myPackage.name }` and after each compiler run, save key information pulled from the webpack stats for any analysis + comparison step.

I used an md5 hash of `package.json` contents, the compiler's `target` and `entry` properties to give me a cache key to use as my filename, and saved the mo

[2017-09-08 20:17] datapimp commented on #54
@asfktz yeah that is basically it.

What I did with my plugin was create a folder in node_modules/.cache/${ myPackage.name } and after each compiler run, save key information pulled from the webpack stats for any analysis + comparison step.

I used an md5 hash of package.json contents, the compiler's target and entry properties to give me a cache key to use as my filename, and saved the module met

[2017-09-08 21:11] Nargonath commented on #54
@asfktz Don't hesitate to ask if you need help managing the plugin. Thanks for offering your help on the PR.

@datapimp Thanks for sharing your experiences with us. This is quite an interesting approach. I would need to dig a little more to fully understand the ins and outs.

@asfktz I'll try to implement @datapimp's way in my PR. We'll see where it leads us.

[2017-09-11 08:43] #57 closed

[2017-09-11 08:43] #56 closed

[2017-09-11 17:27] asfktz commented on #54
I'd love that, Thanks!

I've found that amazing talk about writing webpack plugins, take a look at it, very insightful
https://www.youtube.com/watch?v=NHI_PhoykVU

[2017-09-11 22:28] Nargonath commented on #54
@asfktz Thank you, I'll check it out.

[2017-09-15 12:25] freeozyl80 commented on #55
you mean DllReferencePlugin can work fine with VueSSRServerPlugin ?

[2017-09-15 12:30] xekri commented on #55
@freeozyl80 Seems fine to me.

[2017-09-15 14:47] xekri commented on #55
@freeozyl80 Sorry, I looked into it and found it's not a good choice to use VueSSRServerPlugin with any kind of Dll plugins of webpack. It will certainly destroy the client-manifest file so that some async scripts won't be loaded corretly.

[2017-09-16 00:37] twocucao commented on #39
@asfktz  Hey , I provider an typescript example which minification does not work

https://github.com/twocucao/YaNgAdmin

the configuration is here

https://github.com/twocucao/YaNgAdmin/blob/de89900467027b7b2a35d166fefc77e6f0c72071/config/webpack.dev.js#L181

clone this repo

[code]

<img width="723" alt="asd" src="https://user-images.githubusercontent.com/5625783/30507654-2148524c-9aba-11e7-99dc-

[2017-09-17 03:42] twocucao opened #60 "TypeScript Minification Not Working"
@asfktz  Hey , I provider an typescript example which minification does not work

https://github.com/twocucao/YaNgAdmin

the configuration is here

https://github.com/twocucao/YaNgAdmin/blob/de89900467027b7b2a35d166fefc77e6f0c72071/config/webpack.dev.js#L181

clone this repo

[code]

<img width="823" alt="123" src="https://user-images.githubusercontent.com/5625783/30507872-57345902-9abd-11e7-8d75-

[2017-09-18 03:46] twocucao commented on #60
I did not read the examples , just add these line to config

[code]

[2017-09-18 03:46] #60 closed

[2017-09-20 17:15] AliasT opened #61 "publicPath without http or https"
when i set the publicPath without http or https, just like `//s.bar.com/public`,
`path.join` will make the final script tag src starts with `/s.bar.com/public` ,

[https://github.com/asfktz/autodll-webpack-plugin/blob/v0.2.1/src/paths.js#L12](https://github.com/asfktz/autodll-webpack-plugin/blob/v0.2.1/src/paths.js#L12)

[2017-09-21 20:31] panuruj commented on #61
Also, on Windows, the final path becomes backslashes instead of a slash.
publicPath: https://localhost/
result: https:\\localhost\vendor.js

[2017-09-21 20:34] panuruj commented on #6
I'm seeing the same issue with the backslash instead of the forward-slash as well on Windows environment.

[2017-09-23 20:21] DemonCloud opened #62 "if webpack defined alias , this plugin will get error"
defined in webpack.config.js
[code]
some file include struct

[code]

auto AutoDllPlugin setting
[code]

alias will get inoperative

[2017-09-23 20:36] DemonCloud commented on #62
oh , i got error , the AutoDLLPlugin setting must set as alias mapping as:

[code]

[2017-09-26 19:33] soederpop commented on #54
@Nargonath do you need help with this?

[2017-09-26 20:21] Nargonath commented on #54
@soederpop Thanks for asking. So far I haven't really worked on it, got soaked up by my personal life and I haven't find as much time as I wanted to work on OSS. Feel free to jump in! We could mutualize our effort to work this out. :+1:

[2017-09-28 18:24] dmitriid opened #63 "Merge into DLL Plugin?"
Quoting the README

etc.

The webpack site currently lists 26 different plugins. Autodll isn't there, so it will be at least 27th. Adding yet another layer of complexity to an already largely incomprehensible system.

From the quotes above it is apparent that the facilities this plugin provides are great and greatly needed. So it begs the obvious question: why not merge these into DLL Plugin as de

[2017-10-02 02:42] tryggvigy commented on #37
Has there been any movement on this?
I'd like to help out with this as soon as I get the chance @asfktz.

I have a huge react codebase of >25 apps that I want to split into DLLs to improve build times. If I understand correctly I wont be able to do that currently with `autodll-webpack-plugin` since I can't run loaders agains the DLLs (babel loader with `react` and `env` presets & `syntax-object-re

[2017-10-04 01:27] tryggvigy commented on #37
I think I've found the issue.

Stepping through a debugger during compilation shows that`file-loader` always executed before `autodll-webpack-plugin`. Which means that [the `publicPaths`](https://github.com/webpack-contrib/file-loader/blob/master/src/index.js#L56) from file-loader has not had the DLL path prepended to it.

Everything works as expected if [`path`](https://github.com/asfktz/autodll-

[2017-10-04 19:50] asfktz commented on #37
Hi, @tryggvigy
Your help on that issue will be much appreciated!

It seems like you have much more direction than I had.

That will be so amazing if you manage to solve it.

Here are some tips for better debugging:

open 2 terminal windows,
in the first one, run `BABEL_ENV=debug npm run build:watch`
in the second one, run:
- `cd examples/inherit/`
- `node --inspect --inspect-brk node_modules/.bin/

[2017-10-04 20:11] asfktz commented on #63
Hi, @dmitriid
Apologize for the like response.

It's a good question.
I tried to speak with webpack about it but got no clear answer.
DLL or not, the ability to specify a list of modules to precompile is very useful and greatly speed up the build time. I can only hope something like this will find its way to the core.

[2017-10-04 20:14] asfktz commented on #62
Hi @DemonCloud!
I'm happy to know that you manage to solve it while I was away (:

Have a great day
Asaf

[2017-10-04 20:14] #62 closed

[2017-10-05 20:11] #63 closed

[2017-10-07 23:44] tryggvigy commented on #6
@chj-damon I have opened a PR addressing this issue https://github.com/asfktz/autodll-webpack-plugin/pull/64

[2017-10-07 23:45] tryggvigy commented on #61
@AliasT I opened a PR addressing this issue. https://github.com/asfktz/autodll-webpack-plugin/pull/64

[2017-10-07 23:49] tryggvigy commented on #55
@xekri Was this issue resolved? If so, it would be great if you could close it! 🙂

[2017-10-07 23:50] #55 closed

[2017-10-08 05:55] raymondsze opened #65 "How to make it works with AssetsPlugin"
I would like to obtain the css and js mapping for server side rendering purpose. The produced assets.json does not contain the vendor js...
How to make it works?

[2017-10-09 04:40] raymondsze opened #66 "PUBLIC_URL issue"
https://github.com/asfktz/autodll-webpack-plugin/blob/master/src/plugin.js#L107

settings.publicPath could be something like `https://xxxx.com`
If using path.join, the `https://xxxx.com` would become `https:/xxx.com` which is incorrect.

[2017-10-09 08:27] tryggvigy commented on #66
Hey @raymondsze!
We have a open PR for this issue https://github.com/asfktz/autodll-webpack-plugin/pull/64

[2017-10-09 13:44] raymondsze commented on #65
I added AssetsPlugin to plugins section of AutoDllPlugin, the output assets json ignore the config.output.publicPath, also the path specified in plugin. Is it intended?
My config.out.publicPath is `http://localhost:3000` while the path is `./static/js`
[code]
What I expected should be
[code]

[2017-10-09 13:44] raymondsze commented on #66
Sorry, let me close it.

[2017-10-09 13:44] #66 closed

[2017-10-10 19:08] #6 closed

[2017-10-10 19:26] tryggvigy commented on #61
@panuruj Since you have full control over webpack's `publicPath` and autodll-webpack-plugin's `path` keys. Can't you make sure they are valid URL fragments (only `/` delimiters and no `\`)? I think `autodll-webpack-plugin` will handle that correctly.

[2017-10-10 19:39] tryggvigy commented on #61
Oh never mind! `path.join` on windows joins with a `\`, right? So it would be a problem on windows.

[2017-10-11 12:13] TomiHiltunen commented on #58
Same problem here.

[2017-10-11 22:25] Ks89 commented on #48
@asfktz I confirm this issue, but only from version 0.3.0. With 0.2.1 was working very good for me.

If you want an example that you can run, check [this template](https://github.com/Ks89/angular-webpack-skeleton) that I created and try to force the update of autodll from 0.2.1 to 0.3.0.
When you'll run the application with 'npm start', you'll receive in browser's console this:

[code]

But blocki

[2017-10-11 23:00] asfktz commented on #48
Thanks for reporting @Ks89
I'll take a look at it

[2017-10-11 23:21] asfktz commented on #48
@Ks89 What OS do you use?

[2017-10-11 23:34] Ks89 commented on #48
@asfktz
macOS 10.12.6
node 8.5.0
npm 5.3.0

[2017-10-13 18:01] asfktz commented on #48
Hi, @Ks89

I'm sorry my friend but I have only bad news for you.

Seem like the issue with ProvidePlugin is related to the webpack's DllPlugin itself (AutoDllPlugin is using it under the hood).

ProvidePlugin does not affect modules bundled inside the DLL, so when Bootstrap (which included in the DLL) expects jQuery to be present by the ProvidePlugin, it throws an errors.

I made a simple test to

[2017-10-13 22:05] Ks89 commented on #48
Ok, understood.
Thank u very much for your time. I'll try with expose-loader.

I'll watch this issue :)

[2017-10-14 10:44] DemonCloud opened #67 "Update with path error"
<img width="1440" alt="2017-10-14 6 39 51" src="https://user-images.githubusercontent.com/7436361/31575011-2ccd9f16-b0a2-11e7-857b-23686128ff36.png">

The path:

if visit the path currently

<img width="671" alt="2017-10-14 6 42 37" src="https://user-images.githubusercontent.com/7436361/31575030-88c4a1ca-b0a2-11e7-9750-4e4a4f392d1e.png">

my webpack  pack js config

[code]

[2017-10-14 11:32] asfktz commented on #67
Hi @DemonCloud, Thanks for reporting,

I assume that you merge that config with some other config?
I need to see the `output` option of it

[2017-10-14 11:42] DemonCloud commented on #67
@asfktz

[code]

[2017-10-14 11:57] asfktz commented on #67
Do you use version `0.3.1`?
Is so, can you try version `0.2.1` and tell me if still get an error?

[2017-10-14 12:01] DemonCloud commented on #67
@asfktz

I use version `0.3.1`

`0.2.1` work currently~~!

<img width="863" alt="2017-10-14 8 00 53" src="https://user-images.githubusercontent.com/7436361/31575468-75a8e03c-b0ad-11e7-83dc-60bbc7453e26.png">

[2017-10-14 12:09] asfktz commented on #67
Awesome (:
So use it for now while I figure out what's broken with 0.3.1
One more thing, what OS and Node.js version are you using?

[2017-10-14 12:15] DemonCloud commented on #67
@asfktz

Sorry, I forget it ~

Node 8.7.0
macOS High Sierra 10.13

use Yarn for the package manager

[2017-10-14 16:11] Ks89 commented on #48
@asfktz I tried to modify your example (https://github.com/asfktz/dllplugin-with-provide) with expose-loader instead of ProvidePlugin but I'm still receiving the same error.

Please, could you create a branch with a working configuration?

[2017-10-15 03:57] dliu120 commented on #9
I am also seeing this failure as well

[2017-10-15 05:34] surmin2005 commented on #67
Hi @asfktz , thanks for this plugin!
I got the same error for v0.3.1, but it's work correctly with `publicPath: './'`.
I think this may be related to https://github.com/jfromaniello/url-join/issues/16

[2017-10-15 19:44] asfktz commented on #67
Spot on, @surmin2005
It was exactly it, thanks!

I released a new version, 0.3.2.

@DemonCloud, can you check if it works for you now?

[2017-10-15 20:36] asfktz commented on #61
Hi, @AliasT!

I released a new version (`0.3.2`) which should fix it.

Can you verify that the issue resolved? Thanks

[2017-10-16 00:23] DemonCloud commented on #67
@asfktz

it works currently! thanks

[2017-10-16 06:53] #61 closed

[2017-10-16 06:55] #67 closed

[2017-10-16 14:42] asfktz commented on #31
Done! Thanks for convincing me to add it @viankakrisna, it turns out to be very useful.

[2017-10-16 14:42] #31 closed

[2017-10-18 20:55] switz opened #68 "Compatibility with internet explorer"
https://stackoverflow.com/questions/44648758/uncaught-referenceerror-vendor-is-not-defined-when-using-dllplugin-and-dllrefer
and
https://stackoverflow.com/questions/42601721/webpack-vendor-dll-reference-error

[code]

Your plugin seems to set `library` itself so I'm not sure why it's still not working. Any ideas?

[2017-10-19 14:47] spadgeaki commented on #39
Hi, I am trying it today and it does not work even for JS.

I used your **examples/recommended** project as starting point, installed **autodll-webpack-plugin** and changed **webpack.config.js** to this:

[code]
Result is that **dist/main.bundle.js** is minified but **dist/dll/vendor_somehash.js** is not.

[2017-10-20 13:19] ClementLoridan opened #69 "Error: no such file or directory"
I have this error:
[code]

[2017-10-20 15:02] rcalabro opened #70 "optimize.UglifyJsPlugin is not being executed"
I have the following setup:
[code]

but the UglifyJsPlugin is not ran and the vendor.js is not minified.

Any ideas?

[2017-10-21 19:07] asfktz commented on #70
Hi @rcalabro,
I released a new version.  It should work now.

[2017-10-21 19:16] asfktz commented on #69
Hi, @ClementLoridan
Thanks for reporting.

However, in order to fix it, I need a bit more context.

When do you see this error?
Can you share your webpack config with me?
If you can send me the most minimal config needed to reproduce it I'd appreciate it a lot.

Also will be useful:
- Version of Node
- Version of autodll-webpack-plugin
- Which OS

Thanks!
Asaf

[2017-10-21 19:18] #70 closed

[2017-10-21 20:50] rcalabro commented on #70
Thanks! It is working!

[2017-10-22 07:04] asfktz commented on #39
Hi, @spadgeaki
Fixed. See https://github.com/asfktz/autodll-webpack-plugin/issues/70

@twocucao Thanks for the example, I hope to get to it soon.

[2017-10-23 10:27] ClementLoridan commented on #69
I have this error in my console.

My web pack config client :

[code]

The initial product : nothing in particular (index.js, server.js, webpack)

Version:

node v7.6.0
webpack: 3.5.6
autodll-webpack-plugin : the last version
OS : macOS sierra 10.12.5

Voilà

[2017-10-26 07:47] Nargonath commented on #54
@soederpop Did you manage to work something out?

[2017-10-28 18:57] Nargonath opened #72 "Adding prettier to the codebase"
What do you think of formatting the codebase using prettier and adding a precommit hook to format the code? Here is the prettier config list I like to use in projects, tell me what you think about it:
* printWidth: 100
* tabWidth: 2
* useTabs: false
* semi: true
* singleQuote: true
* trailingComma: es5 (or 'all' if you want)
* bracketSpacing: true

Some of these options are prettier defaults but I

[2017-10-29 20:01] asfktz commented on #72
Hi, my friend, how are you? (:

Sounds good, I used prettier across the codebase, with a similar setup (configured globally in my editor), So I believe most of the files will stay the same.
And this config looks good to me, so yeah, go for it 👍

[2017-10-30 09:17] Nargonath commented on #72
Hey! I'm doing good and you? Long time no chat it seems. :)

I'll work on it. I was wondering shall I still work on the next branch or is the master branch up-to-date now? Or perhaps the next branch is like a dev branch, isn't it?

[2017-10-30 15:39] soederpop commented on #54
I haven't had a chance yet; was gonna start right now.  Who can I talk to about the way the plugin works right now? to find the optimal place to inject this step.  I see there is already a component which handlesStats -- I'm curious what it is for.

[2017-10-30 16:31] Nargonath commented on #54
@soederpop It seems that handleStats write the stats in a json file so it could be consume by other tools. I'm working on it as well so we can work together. :+1:

[2017-10-31 07:24] mario-jerkovic opened #74 "bluebird as a dependency"
After updating to any version >= 0.3.x my build config is failing as the `utils.js` has an require to `bluebird` but that package is listed as an devDependency but `mkdirp` is in dependencies

[code]

[2017-11-01 06:38] asfktz commented on #54
Hi @soederpop!
Thanks for willing to contribute 🙏
I'll be happy to answer any questions regarding the current design.

I'll write you later today about `handlesStats` and a few more important things, right now I'm late for work 😄

[2017-11-01 06:51] asfktz commented on #72
Yep, it's up to date now.

Hmm.. right now the `next` branch is still there because I forgot to delete it.
Currently, I make changes directly to the master, but I'm open to suggestions.

[2017-11-01 11:37] borisirota commented on #54
Hi guys, I read the discussion - great direction 👍

One thing to keep in mind though, it's important having the ability to exclude specific node_modules from the automatic bundle - few reasons:

1. node_modules using `webpack` internals have to be in the main bundle:

    - `module.hot` is used [here](https://github.com/webpack/webpack/blob/master/hot/dev-server.js#L6) when dev server runs in [hot

[2017-11-01 11:39] codemasterover9000 opened #75 "Recommended example doesn't work, pathToArray invalid argument"
Pim@AS-DEV06 MINGW64 /c/dev/autodll/examples/recommended (master)
$ npm start

Project is running at http://localhost:8080/
webpack output is served from /
404s will fallback to /index.html
AutoDllPlugin: is valid cache? false
AutoDllPlugin: cleanup
AutoDllPlugin: compile
{ Error: invalid argument
    at pathToArray (C:\dev\autodll\node_modules\memory-fs\lib\MemoryFileSystem.js:44:10)
    at Memor

[2017-11-01 11:42] codemasterover9000 commented on #75
Seems related to https://github.com/asfktz/autodll-webpack-plugin/pull/71

[2017-11-01 19:37] Nargonath commented on #72
Oh ok, cool. I'll just work on master as well then. :+1:

[2017-11-01 20:52] asfktz commented on #23
Hi @faceyspacey!
I added a hook for the DLL stats.

You can use it like this:
[code]

[2017-11-01 21:39] faceyspacey commented on #23
Sweet!

[2017-11-01 22:00] asfktz commented on #54
@soederpop handleStats ensure that the stats object is available
`stats` is the object we get when running the compiler:

[code]

it contains a lot of useful information about the build.

The catch is that the plugin tries to cache the DLL and only build it when necessary.

Here for example:
https://github.com/asfktz/autodll-webpack-plugin/blob/bc2a2e8af94ea833f3cb9ea56cab1479bdc1ecb1/src/plugin.j

[2017-11-01 22:02] asfktz commented on #54
Thanks for the insights, @borisirota!
We will 👍

[2017-11-01 22:06] asfktz commented on #23
Let me know if it works for you 😄

[2017-11-01 23:04] Nargonath opened #77 "Adding a chat room to the repo"
Hello again!

As I started to get into the project more and more, I felt like it would be good to have a place where we can discuss things about the project. It would be something that everyone could join and read so emailing each other would be a no-go. What do you think?

If you are ok with it, I'll take care of it. I thought of using Gitter for that. It felt like it would be the right tool for

[2017-11-02 20:46] asfktz commented on #77
Hi @Nargonath
Sound good! 👍 👍

[2017-11-02 20:57] #72 closed

[2017-11-03 23:10] Nargonath commented on #77
@asfktz it seems I cannot create a Gitter community and link it to this repository as I'm not the owner. Do you mind creating the community please? Here is the link to do so: https://gitter.im/home#createcommunity. Once you did I'll add the relevant information on the README.md. :+1:

[2017-11-04 16:09] asfktz commented on #77
Done! 🎉🎉
I'm online, ping me when your there

[2017-11-05 00:19] Nargonath commented on #77
Great! I see you added the badge as well. That's nice.

[2017-11-05 00:19] #77 closed

[2017-11-07 07:03] akuznetsov-gridgain commented on #9
Hi, we also need this fix!

[2017-11-10 13:42] asfktz commented on #9
Ohhh, can't believe I let this PR wait for so long!
@sudo-suhas, it this still relevant to the current master? Thanks

[2017-11-10 13:43] asfktz commented on #9
Ohhh, can't believe I let this PR wait for so long!
@sudo-suhas, it this still relevant to the current master?

[2017-11-10 13:44] sudo-suhas commented on #9
I'll test it tomorrow and update here.

[2017-11-10 14:22] asfktz commented on #75
Hi @codemasterover9000, I've just released a new version with #71, can you please confirm that it works now? thanks

[2017-11-10 14:41] asfktz commented on #74
Thanks for the reporting *and* providing a solution, @mario-jerkovic!
A released a new version with a fix (0.3.5)

[2017-11-10 14:41] #74 closed

[2017-11-11 03:17] sudo-suhas opened #80 "package.json has incorrect version"
Package version `0.3.5` tagged and released in npm but the `package.json` still has the version as `0.3.4`.

[2017-11-11 04:25] sudo-suhas opened #81 "Integration tests failing on Windows"
[code]

[2017-11-11 04:26] sudo-suhas commented on #9
As I noted in https://github.com/asfktz/autodll-webpack-plugin/pull/52#issuecomment-343635803, the test is still failing. But now I am not sure if this is a bug in the `specs` or the `src`. See #81.

[2017-11-11 18:35] asfktz commented on #80
Oh, good catch!

I forgot to publish to version change commit. Done 👍

[2017-11-11 18:35] #80 closed

[2017-11-11 19:31] asfktz commented on #81
I must admit that the integration test is not the clearest code I ever wrote,
it took me some time to wrap my head around it again.

I merged #82 and added a few console.logs, can you please run it again and paste the output?

[2017-11-12 04:02] sudo-suhas commented on #81
@asfktz I don't see any new `console.log`s. Did you perhaps forget to push your changes?

[2017-11-12 06:53] asfktz commented on #81
Oops! forgot to push. try now

[2017-11-12 07:00] sudo-suhas commented on #81
Here you go:

[code]

[2017-11-12 07:15] asfktz commented on #81
Interesting... will take a deeper look at it later today

[2017-11-12 07:17] sudo-suhas commented on #81
Sure. Let me know if you need help with anything. Once the integration tests are fixes, we should set up Appveyor integration.

[2017-11-12 19:23] asfktz commented on #81
This is a diff between your output and mine:

![image](https://user-images.githubusercontent.com/199747/32702174-854e8636-c7eb-11e7-88f0-a985cb6e8c0c.png)

It seems like this part of the test is never called:
https://github.com/asfktz/autodll-webpack-plugin/blob/9f88ea13ef2f0576a9e9b10afa44ecc17a9c6d54/specs/fixtures/basic/specs/detectPkgChange.integration.js#L38-L49
(All that `routeCalls` is call

[2017-11-14 05:24] sudo-suhas commented on #81
This is pretty weird but the integration tests seem to have fixed themselves. The issue may have been fixed when I ran `yarn` but I am not sure. I am closing this for now. Hopefully, I won't have to reopen this.

[2017-11-14 05:24] #81 closed

[2017-11-14 18:14] asfktz commented on #81
Magic!! 🎩  ✨

[2017-11-18 00:33] TheLarkInn opened #85 "Remove Moment as an example from this readme"
When you DLL you cannot tree-shake code from the DLL bundle. Since on average only 20% if momentjs is used when imported, its best to remove it from the README. Otherwise, keep up the great work on this!

[2017-11-19 20:40] asfktz commented on #85
Hi, @TheLarkInn!
Thank you so much, I appreciate it (:

I see.
Originally, I thought of it as a plugin to speed up development, so at the time it made sense to add momentjs to the DLL. over time I realized that people use it for production too, so yeah, I agree.
I'll remove it.

Btw, I wanted to ask you,
a few people asked us to support code splitting and the ProvidePlugin,
I saw that it's current

[2017-11-20 23:49] TheLarkInn opened #87 "Throw Error when `pkg` is null"
I was working with @gdborton to setup this plugin but realized that when the context is not set directly, that the package.json path cannot be resolved.

I wanted to suggest that if you throw, or provide some error message (even in just loggin mode) when this package.json file (for the cache), is not resolvable.

[2017-11-21 03:57] sudo-suhas commented on #87
Hey @TheLarkInn, I am trying to understand the problem but I am kinda new to this project so I apologise if my question seems silly. Why is it that the package.json path cannot be resolved if the context is not set directly? Because, as far as I can tell, `context` is defaults to `process.pwd`.

[2017-11-29 07:11] gdborton commented on #87
I don't remember exactly what we were doing that hit this problem, but I'm
guessing this fails for sure if you run it outside of the root directory.

On Mon, Nov 20, 2017 at 7:57 PM, Suhas Karanth <notifications@github.com>
wrote:

[2017-11-30 17:37] switz commented on #37
Curious if there was any more movement on this. We would also like to leverage autodll for separate yarn workspaces we have in our app.

@asfktz would you mind updating the `next` branch to sync up with master? I can send a PR (rebase or merge) if you'd like.

[2017-12-02 18:11] asfktz commented on #37
Hi @switz,

Currently, there's no progress on this.

You're more than welcome to send a PR.
The `next` branch is no longer in use, you can use the master branch instead.

Thanks!

[2017-12-02 21:17] #85 closed

[2017-12-02 22:00] asfktz commented on #87
Hi @TheLarkInn,
Thanks for for the heads up

I'm joining to the question of @sudo-suhas

@gdborton, If I understand correctly, a case where the `context` cannot be resolved correctly is where you have multiple projects that share the same build, something like this?

- scripts
  - webpack.config.js
  - package.json
- project-a
  - index.js
  - package.json
- project-b
  - index.js
  - package.json

[2017-12-08 16:21] WiseBird opened #89 "Source maps are not created for dll bundle"
As issue title states problem is that source maps are created for main bundle and not for dll bundle:
![3](https://user-images.githubusercontent.com/1745378/33774295-e2d7ca3c-dc4b-11e7-9548-1ac6f8642884.png)

Webpack's config:
[code]

Reproduction - https://github.com/WiseBird/auto_dll_source_maps

- `npm i`
- Build with Dll Plugin - `npm run build:dll`
- Build without - `npm run build`

You can a

[2017-12-11 05:26] sudo-suhas opened #90 "Config option 'inherit' not documented"
The constructor config option `inherit` isn't documented in the readme.

[2017-12-11 05:28] sudo-suhas commented on #89
@WiseBird Thank you for the very through issue. By default, when the plugin creates the child-webpack config which compiles the DLL(as needed), it does not inherit from the parent config. Which is why the `devtool: 'source-maps'` is not propagated. This can be fixed by passing `inherit: true` in the `AutoDllPlugin` config:

[code]

I tested this on the repo you had provided and I could see the sou

[2017-12-11 07:31] WiseBird commented on #89
Thank you!

[2017-12-11 07:31] #89 closed

[2017-12-11 21:05] PeterKottas commented on #23
Hi @asfktz, I've also encountered a problem of vendor files missing in stats object. I wanted to analyze some issues with size of files it produces but unfortunately it relies on the stats being generated by autodllplugin. Is there any way that could be achieved at the moment? Do you have any suggestions on how to use the hook you mentioned in order to append stats from this plugin to the rest of

[2017-12-12 17:55] #90 closed

[2017-12-12 18:25] asfktz commented on #23
HI @PeterKottas!

How about something like this:

[code]

[2017-12-12 18:30] PeterKottas commented on #23
Cool, that looks simple enough. I assume this will only output stats specific for the vendors bundle. Or is it actually combining it with the rest of the stats?

[2017-12-12 20:38] asfktz commented on #23
You right,  It's the stats as is.
To be precise, what you actually get is `stats.toJson()`,

So if you want to merge them, you might what to do the same for for the main compilers stats too.
[code]

[2017-12-12 21:41] PeterKottas commented on #23
Nice one! Would it maybe be worth doing that inside autodll-webpack-plugin? Or in fact, if 'done' is called by webpack only after everything is done, I see how that could be a problem. Maybe you could add some prebuild functionality for this? Although it's hard to say how many people are actually interested in this.

[2017-12-13 20:29] asfktz commented on #23
Hmm.. I can see why you want that, other plugin authors might benefit from abstracting away the fact that there's is actually two different stats, but I feel that I'm not familiar enough with the stats to make the merge inside the plugin.

What I can think of is adding another hook right after `done` that will expose both of the stats, serialized.

[code]

[2017-12-13 20:41] PeterKottas commented on #23
I see your point. I would look at it myself but I don't have time for it now (might have some around Christmas). I really believe it would be the best if this could be abstracted away so that we have a switch in options "outputStats": boolean which would just spit out the final merged stats. It's true though that merging stats can be tricky. But maybe not, it might surprise us. If you're fine with

[2017-12-27 01:36] GrimaceOfDespair commented on #48
I was able to use AutoDllPlugin together with jQuery and bootstrap by moving jQuery out of the dll bundle:

webpack.config.js:
[code]

vendor.ts:
[code]

main.ts:
[code]

[2018-01-15 08:49] AlexDel commented on #9
Hello guys! We are looking forward for applying you cool lib on our win servers. Is there any stuff I can facilitate with investigation and devloping? We really need this fix :)

[2018-01-15 08:54] sudo-suhas commented on #9
Hey @AlexDel, this issue was fixed sometime back but we somehow missed closing it. I am also on a Windows system so I double checked it to be sure and no tests are failing. I'll close the issue as well but if you _do_ happen to face any issue, please open a new one.

Thanks for this though!

[2018-01-15 08:54] #9 closed

[2018-01-15 08:57] sudo-suhas commented on #45
Update:

[code]

@asfktz Do you think we should handle this edge case? If I run `build` and try again, there's no problems.

[2018-01-22 16:39] codemasterover9000 commented on #75
Hi @asfktz sorry for the late reply. It works now.

[2018-01-22 16:39] #75 closed

[2018-01-23 02:48] TreeVie commented on #59
[code]

[2018-01-23 09:24] EvgenyOrekhov commented on #59
@TreeVie That way I get duplicate entries of `bundle.min.css` and `bundle.min.js` in my `index.html`.

[2018-01-31 03:26] CJY0208 opened #101 "No output file while using [chunkhash] in filename"
There is no any output dll file in path I set while using [chunkhash] in filename
[code]

But when I change [chunkhash] to [hash], it just work.

[code]

My webpack version is 3.10.0 and autodll-webpack-plugin is 0.3.8.
Please help.

[2018-01-31 05:11] sudo-suhas commented on #101
`autodll-webpack-plugin` uses `DllPlugin` under the hood. Take a look at `DllPlugin`documentation - https://webpack.js.org/plugins/dll-plugin/#dllplugin. Not entirely sure about it but it looks like only `name` & `hash` are supported.

[2018-01-31 08:05] CJY0208 commented on #101
@sudo-suhas Before using `AutoDllPlugin`, I used `DllPlugin` with `[name]_[chunkhash:6]`, like this
[code]
works well and I am sure `chunkhash`  is supported by `DllPlugin`

[2018-02-01 07:14] CJY0208 commented on #101
I found that `DllPlugin` was used in `node_modules/autodll-webpack-plugin/lib/createConfig.js` after tracked some of the source code.

I made some changes in this file, like this

[code]

And it works with my configuration  now
But I do not think that is a good solution

[code]

[2018-02-01 08:16] CJY0208 commented on #101
I found that `DllPlugin` was used in `node_modules/autodll-webpack-plugin/lib/createConfig.js` after traking some of the source code.

I made some changes in this file
Like this:

[code]

And it works with my configuration now

[code]

It is not a good solution for now because:
1. The value of `__DllPluginName` needs to be accurately generated based on the `filename`
2. Not sure if this change wil

[2018-02-01 08:32] CJY0208 commented on #101
Simply changing `[name]_[hash]` to `[name]_[chunkhash]` in options given to `DllPlugin` will also fixed the problem I'm facing

[code]

This looks like one better way.

[2018-02-06 14:07] manishaggarwal94 opened #103 "I am getting this error"
if(request && request in this.options.content)
TypeError: Cannot use 'in' operator to search for './src/app-client.js' in undefined

[2018-02-08 12:13] Saravanan90 commented on #37
@asfktz Thanks for this great plugin, very much in need of `loaders` support in the option atleast, instead of inheriting them from parent config, just like `plugins`

[2018-02-11 01:15] waiting4158 commented on #69
i have same problem.  has a solution?
mac os: 10.12.6
node:8.7
webpack:3.10.0
webpack-dev-server:2.9.7
memory-fs:0.4.1

[2018-02-12 17:52] stephencookdev commented on #58
You can generate just 1 manifest file by adding a custom `generate` function

[code]

Still a bit hacky 😞 but generates 1 correct manifest file

In theory just doing the shared seed thing should solve the issue, but I'm guessing that something is causing the `AutoDllPlugin`'s `WebpackManifestPlugin` instance to run first, but then output last (causing the staler manifest file to overwrite the newe

[2018-02-15 17:19] #101 closed

[2018-02-16 14:46] phun-ky opened #104 "How can I use this with CommonsChunkPlugin?"
With this config (some things redacted, just ask if you need more information), how do I pass the chunks from commonchunks into autodll-plugin?:

      import webpack from 'webpack';
      import merge from 'deepmerge';
      import path from 'path';
      import extractTextPlugin from 'extract-text-webpack-plugin';
      import HtmlWebpackPlugin from 'html-webpack-plugin';
      import AutoDllPlu

[2018-02-19 20:11] mhheise opened #105 "Webpack 4 support"
I tried upgrading to webpack 4 but I am seeing this error:

[code]

Looks like the error might be from this line:

https://github.com/asfktz/autodll-webpack-plugin/blob/master/src/plugin.js#L86

[code]

I am not sure if you are working on this upgrade already (as webpack 4 made several breaking changes to the plugin system) -- but I would be happy to help.

[2018-02-20 03:03] sudo-suhas commented on #105
Hey @mhheise, thanks for bringing this up! It would be very much welcome if you could make a PR with the changes required for webpack 4.

[2018-02-21 08:54] emmenko commented on #105
I was trying to fix this issue as well, but I couldn't figure out yet what's the correct API to use here.

/cc @ooflorent @TheLarkInn Any hint on how to fix this? Also, is the "old" `compiler.plugin` API still working or does it need to be upgraded as well?
Thanks 🙏

[2018-02-21 09:41] ooflorent commented on #105
First, you must add a custom hook the `compiler`:

[code]

Then you can replace `applyPlugins` by:

[code]

[2018-02-21 13:48] emmenko commented on #105
@ooflorent many thanks!

@sudo-suhas would you like to take care of this? Otherwise I'll try to open a PR.
It would be good to have webpack@4 support soon ;)

[2018-02-21 13:50] mhheise commented on #105
I have started work on my own fork -- I can push it up for review soon once tests are passing 😄

[2018-02-21 13:50] emmenko commented on #105
@mhheise awesome! 🙌

[2018-02-23 22:02] mhheise commented on #105
@asfktz @sudo-suhas I have changes underway and will push a WIP PR shortly, but I am seeing this error when I am testing my changes with the examples directory:

[code]

Any thoughts? I know that the file is not present on my machine, but I am not quite sure how to generate it so that an `npm run build` would succeed.

[2018-02-23 22:44] asfktz commented on #105
Hi @mhheise!

First, thanks a lot for taking this  🙏

I'll take a look at it tomorrow and see what I can do to help (:

[2018-02-27 06:29] asfktz commented on #105
Hi @mhheise, I've left I few notes in the PR

[2018-03-08 15:11] WangBiaoxuan commented on #103
so am i，do you know how to deal?

[2018-03-09 05:04] sudo-suhas commented on #103
This line does not seem to be present in the code base. Could you share more information w.r.t reproduction of the issue, any stack trace if available etc?

[2018-03-20 11:16] marcofugaro commented on #105
Any update on this? `html-webpack-plugin` has been upgraded

[2018-04-05 07:21] faceyspacey opened #107 "definePlugin doesn't let you build dll in production, while running in development"
For example:

[code]

The dll runs in `development` if that's what the parent is running in. It would be nice to get even smaller bundles this way.

[2018-04-05 18:15] faceyspacey commented on #105
I got html-webpack-plugin working. Please verify so it can get merged to the main package sooner:

https://www.npmjs.com/package/autodll-webpack-plugin-webpack-4
`yarn add --dev autodll-webpack-plugin-webpack-4`

[2018-04-09 09:58] Svarozic opened #108 "Feature request:"
Would it be possible to implement option to specify destination dir for DLLs ?
Like 'dllDir' in https://github.com/shlomiassaf/webpack-dll-bundles-plugin

I would need to use these DLLs in karma configuration ('files'), but I can not reference them so easy, because they are created under /node_modules/.cache/autodll-webpack-plugin/{env}_{id} folder that name I can not guess before I will run webpa

[2018-04-11 06:27] icai opened #109 "I try to usein local package(alias), but plugin don't work?"
As the title, my config is following.

[code]

`mini` package is my local privite package.

webpack config
[code]
mini.js
[code]

[2018-04-11 07:57] #109 closed

[2018-04-11 13:33] lifuzhao100 opened #110 "not work with webpack-dev-server"
i am writing my first project with autodll,and meet with some trouble that i can't resolve ;thx for your help first.
i clone and  npm start the recommended example, it didnot work where i changed src/index.js content.
![image](https://user-images.githubusercontent.com/16594057/38619896-d4ab8922-3dcf-11e8-83d4-28b702ab8afc.png)
![image](https://user-images.githubusercontent.com/16594057/38619924-df

[2018-05-06 10:50] xiangnanscu opened #112 "What does [not cacheable] mean in the webpack building info?"
Version: webpack 2.7.0

Hello, I encountered two problems when I  run `webpack --progress --config webpack.prod.js`:
1. infomation shows `delegated ./node_modules/vue/dist/vue.runtime.esm.js from dll-reference vendor_81e1521a878e34171326 42 bytes {0} [not cacheable] `, I don't know if ` [not cacheable] ` means everytime I will repack `./node_modules/vue/dist/vue.runtime.esm.js` even if I change no

[2018-05-27 12:39] simonjoom commented on #105
Just found a little bug in version 4 of webpack . On first run (without nothing in cache .cache)
The compilation stop processing to next step a callback is never called...

is just added some return in watchrun did the trick for me
var watchRun = function watchRun(compiler, callback) {
        compileIfNeeded(function () {
          return (0, _webpack2.default)(dllConfig);
        }).then(functio

[2018-05-27 12:40] simonjoom opened #113 "branch webpack 4 little bug for first run resolved"
Just found a little bug in version 4 of webpack . On first run (without nothing in cache .cache)
The compilation stop processing to next step a callback is never called...

[2018-05-27 13:35] simonjoom commented on #113
Sorry the code is good finally;... it was my mistake you should to close it
don't matter about that

[2018-05-30 10:00] imjeen commented on #105
@faceyspacey There is a little problem about the `autodll-webpack-plugin-webpack-4` plugin.

 `npm i -S autodll-webpack-plugin-webpack-4` and  build with the plugin, it's error.

Maybe you can try with a new demo.  (do not install `autodll-webpack-plugin` and use it )

[2018-06-02 13:33] asfktz commented on #113
A new version released with webpack 4 support

[2018-06-02 13:33] #113 closed

[2018-06-02 13:35] asfktz commented on #105
Hi everybody,
A new version released with webpack 4 support.

Thanks for @mhheise & @faceyspacey for making it happen ❤️

[2018-06-04 05:59] kmhigashioka opened #114 "Hash support"
Hello, I would like to ask if there is a plan on supporting `hash` similar to `HtmlWebpackPlugin`'s.

On `HtmlWebpackPlugin` we can do

`
new HtmlWebpackPlugin({
  template: 'src/index.template.html',
  hash: true
}),
`

which results to
[code]

So I was wondering if this can be done also on `autodll-webpack-plugin`?

Thanks and btw great plugin! 😃

[2018-06-28 08:51] mlippens commented on #105
Can't this be closed then? :+1:

[2018-07-02 07:05] #105 closed

[2018-07-12 12:32] safareli opened #115 "mode is not set so webpack defaults to production"
mode is not for dll so webpack it to production which results in minified dll, Instead mode should either "inherited" or set to ["none"](https://webpack.js.org/concepts/mode/#mode-none) so webpack is not minifying dll in all cases automatically.

now i'm doing this:
[code]
to avoid unneeded minification.

[2018-07-20 06:45] rustjson opened #116 "Can we have the machine spec which runs the perf test"
DevServer Rebuild | 2924ms - 2997ms | 316ms - 369ms
-- | -- | --

I just clone this repo and run the performance example.

My rebuild time is :

DevServer Rebuild | 26427ms | 4844ms
-- | -- | --

which has a huge difference. I wonder this was cause by machine differece, just to confirme:
Here is mine:
[code]

[2018-07-23 03:14] erguotou520 opened #117 "Target option needed."
Currently `node-libs-browser` will be packed into the dll file, so `target` option need to be set in dll configuration.

[2018-07-30 07:56] JacobBlomgren opened #118 "hook for knowing when it's building"
I'm writing a CLI project that uses this package. I wonder if there's a hook or some way for me to know when Autodll is doing a full rebuild, so that I can output some information for my consumers explaining while the build takes extra long time.

[2018-07-31 20:46] prontiol opened #119 "Extract packages by namespace"
Is it possible to extract packages by namespace?
We have a lot of shared packages which are published under the company-specific namespace, like `@company/package`
Is there a way I can add them all at once by namespace or mask, something like `@company/*`?

[2018-08-01 04:52] fengmiaosen commented on #107
+1

[2018-08-01 18:08] prontiol commented on #107
It doesn't build in production even if my main build is in production!
I am using Webpack 3.

[2018-08-06 01:34] zaaack opened #120 "Support tree-shaking for dll plugin"
see: https://github.com/webpack/webpack/commit/6c0c52558c42ec3ec3d9117027fc3ee12bf2d145

[2018-09-17 02:56] zhongxia245 opened #121 "html-webpack-plugin4.x dll script unable auto inject to html"
`html-webpack-plugin4.x` unable auto inject dll script , buy `html-webpack-plugin3.x` is ok

[2018-10-05 16:47] dabit1gamma opened #122 "'Is valid cache' is aways false"
Hi guys. I'm using TravisCI and I cannot get cache working. Since for every build node_modules folder is rebuild autodll cannot use its cache. I tried to use travis cache and persist the content of the folder `node_modules/.cache/autodll-webpack-plugin` and to copy its content again before I compile the app. But it is still not working. Do you have any idea about how to use autodll with TravisCI?

[2018-11-01 11:42] #39 closed

[2018-11-08 07:32] dove457 opened #124 "How to DevExpress to DLL?"
Hello,

I am trying to speed up development with Vue and Devexpress.

vue.config.js
[code]

The error I get:
[code]

Do you have any ideas how to solve this issue?

Regards,
Dovydas

[2018-11-26 07:56] deepkolos opened #125 "got error when use dynamic import"
i want to pack a mini router resolver which aim at faster trigger the current route's componet's load, but i got error

[code]

[code]

[2018-12-01 19:55] vladcosorg commented on #69
Can confirm similar issue

[2019-02-06 09:44] villesau opened #127 "Only updating package produces wrong broken dll-links when using chunkhashes"
We have following setup:
- vendor build uses autodll-webpack-plugin 0.3.9
- app build default webpack (3.11.0) config
- both uses chunkhashes in names

Hashes before package update:
app: `app_build-c208c7c1f4a5f3a05681.js`
vendor: `vendor_1ee645ef083ddb7ee345.js`
dll-reference: `vendor_1ee645ef083ddb7ee345`

Hashes after package update:

app: `app_build-c208c7c1f4a5f3a05681.js`
vendor: `vendor_bae

[2019-02-22 07:04] johnmai-dev commented on #121
https://github.com/asfktz/autodll-webpack-plugin/pull/128

[2019-03-18 18:07] Yallaban commented on #68
@switz  I have the same issue. Did you figure out what is the fix for it?

[2019-04-25 11:12] imranweb opened #131 "AutoDLL not working in NextJS"
I have tried implementing autodll in nextjs environment but its not excluding the vendor pages from chunks such as main.js, common.js, app.js, index.js.

config.plugins.push(
        new AutoDllPlugin({
          inject: true, // will inject the DLL bundles to index.html
          filename: '[name].js',
          entry: {
            vendor: [
              'react',
              'react-dom',

[2019-05-29 20:20] dav-is commented on #131
That's because we already use this plugin internally in Next.js

[2019-06-10 07:02] yilingsj opened #132 "webpack4中每次修改app.js时dll会重新打包"
webpack -v  4.31.0
我遇到了一个问题，当我执行
webpack-dev-server --mode=development --config demo-autodll-webpack-plugin.config.js
后，dll文件可以生成，当我修改app.js中的代码时，**dll又会重新生成**！
如图：![每次修改app.js中的代码时，dll会重新打包](https://img.alicdn.com/imgextra/i4/759415648/O1CN01R8AwJd1rapW3tVvqP_!!759415648.png)

![AutoDllPlugin的配置](https://img.alicdn.com/imgextra/i2/759415648/O1CN01Xi0J8n1rapW3F7blM_!!759415648.png)

[2019-06-20 00:34] eliseumds commented on #115
Oh, that's very important for React projects because the minified version doesn't show full error messages. Tks!

[2019-07-04 09:45] zhangjiana opened #133 "I use this plugin for react-app，it wiil not inject to the html"
I found this problem.
react-app use the html-webpack-plugin@4.0。 Its 'htmlWebpackPluginBeforeHtmlGeneration'
has deprecated.
so when I run my app, I found it will not inject to my html.

`
if (!compilation.hooks.htmlWebpackPluginBeforeHtmlGeneration) {
          return;
        }
`
I require html-webpack-plugin manually, and modify the code below
`
compiler.hooks.compilation.tap('AutoDllPlugin', f

[2019-07-05 09:37] zhangjiana commented on #121
I have the same problem

[2019-07-16 05:08] marty-wang commented on #37
I think this is the missing piece that will bring auto dll plugin complete, because external css and assets can rather be big and the build can speed up much by bundling them to dlls.

[2019-08-12 13:20] arrowing commented on #133
I write a custom plugin to sovle it.

[code]
Usage:
Put the following code after html-webpack-plugin, like:
[code]
or
[code]

[2019-08-12 13:27] arrowing commented on #121
@asfktz Please merge this commit, thanks.

[2019-08-13 03:39] aa875982361 opened #134 "TypeError: Cannot read property 'properties' of undefined"
将代码clone 到本地 按照README.md 运行项目，提示:
TypeError: Cannot read property 'properties' of undefined
通过网上找了相关的代码 发现是webpack-cli 版本的问题，目前项目中的 webpack-cli的版本是^2.0.11, 需要修改为 ^3.1.1 就可以正常运行
修改文件路径为：examples/recommended/package.json
运行脚本：
## Running Examples

1. `git clone git@github.com:asfktz/autodll-webpack-plugin.git`
2. `cd autodll-webpack-plugin`
3. `npm install`
4. `npm run build`
5. `cd examples/recomme

[2019-08-13 03:41] aa875982361 commented on #134
已解决

[2019-08-13 03:41] #134 closed, assigned to nobody

[2019-08-20 00:50] parzival418 commented on #115
This totally saved me. Should be added to documentation!

[2019-08-26 03:01] beilo opened #137 "multiple dll packages are generated, it will cause duplicate references"
I am using the `autodll-webpack-plugin` procedure and found that if multiple dll packages are generated, it will cause duplicate references.

![image.png](https://upload-images.jianshu.io/upload_images/1794988-32e20227741c95c7.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)

[code]

After analyzing with `webpack-bundle-analyzer`, it was found that `react-dom` was repeated, as shown below:

[2019-08-31 02:53] CJY0208 commented on #132
filename 增加 chunkhash 确认一下包内容是否发生了变化？

增量构建时间只花费了 120ms ，而你的 dll 插件需要处理的内容还是少的，如果进行了 auto-dll 处理的话不可能只花费这么点时间

我猜测并未进行 auto-dll 处理，你看到的输出有可能只是 webpack 默认对构建结果的展示

[2019-09-03 10:27] yucopowo commented on #37
It works

[code]

Thanks!

[2019-09-11 01:44] otary opened #138 "Is it support css dll？"
`
 new AutoDllPlugin({
            inject: true,
            filename: '[name]_[hash].dll.[ext]',
            inherit: true,
            entry: {
                       vendor: ['element-ui', 'axios', 'element-ui/lib/theme-chalk/index.css']
            }

        })
`

Why it does not support 'element-ui/lib/theme-chalk/index.css'?

[2019-09-11 11:15] MarchWorks commented on #138
Because it's not js code if I am not mistaken

[2019-10-28 21:21] scottc-netflix opened #141 "ModuleNotFoundError with Webpack 4"
Even on the newest version of autodll-webpack-plugin, webpack 4 support doesn't work for me. AutoDLL can't resolve any module names. My webpack config is nested in a config directory so I tried with and without setting the context but same result.

webpack: 4.41.2
autodll-webpack-plugin: 0.4.2

The weird thing is it's only a few modules it fails on. They are `autosuggest-highlight`, `currency-code

[2019-11-20 23:09] VladimirPal opened #143 "stats.json are too big"
Hi!
my stat.json is over 100 mb(vendor.js over 15mb), why you cache it?
I have multiple entries with multiple Html output files. Each change causes read stats.json for each Html file just to inject links, it works dramatically slow.

[2019-11-21 11:05] VladimirPal commented on #143
I've reduced stats.json - now it's 17K
[code]

[2019-12-12 15:18] jyield18 opened #144 "How do I set entryOnly to true to enable treeshaking?"
Can I set entryOnly to true to enable treeshaking or should I be using DLLPlugin instead?

[2019-12-12 21:11] thieman opened #145 "Plugins are not run when cache is valid"
AutoDLL seems to bail out from the compile completely when it has a warm cache to work from. This extends to skipping the execution of any defined plugins in the AutoDLL config.

We have some plugins that we need to execute even if the cache is valid, in particular we are using [an assets manifest](https://github.com/webdeveric/webpack-assets-manifest) that will fail our build in production if not

[2019-12-19 09:30] trivialmonster commented on #124
Hi, Did you solve it?

[2020-01-06 05:09] jweboy opened #146 "Autodll-webpack-plugin specifying node_modules in different projects"
For example, I have two projects `/a` and `/b`. The current directory where the `DLL` needs to be compiled is `/a`, but the directory introduced by `autodll-webpack-plugin` is `/b`. I find that the plugin currently does not support this function.Then I found the point of the problem through the source code.

[code]

I found that the `findCacheDir` plugin was introduced but does not support the` cw

[2020-01-08 19:56] sibelius opened #147 "what is the right context for a monorepo setup?"
webpack.config.js is inside packages/app/webpack.config.js?

[2020-01-30 15:34] sujit510 commented on #124
Hey, any updates?

[2020-02-19 12:30] EvgenyOrekhov commented on #59
I don't care anymore since I switched to [Parcel](https://github.com/parcel-bundler/parcel).

[2020-02-19 12:30] #59 closed

[2020-03-01 01:02] yeion7 commented on #85
It seems is already supported

https://github.com/webpack/webpack/pull/7344

[2020-03-18 16:38] #116 closed, assigned to nobody

[2020-03-30 08:18] g8up commented on #137
This article may answer you:
http://www.programmersought.com/article/1319630786/

[2020-04-14 08:52] beilo commented on #137
@g8up Thank you very much for your answer. The method of this article is correct

But we hope that `autodll webpack plugin` can provide this function

Or is it correct to generate only one DLL?

[2020-07-28 18:29] rfink commented on #124
Same problem

[2020-08-10 07:32] chenqinyang1994 opened #148 "inject the DLL bundles into the html fail"
i have writted the autodll config , but inject the DLL bundles into the html fail , help me , please!!!!!
this is my webpack plugins config:
[code]

i have writed the "inject" but it didn't work

[2020-08-14 10:37] ghost commented on #148
Ran into the same issue when updating dependencies of a project. I solved the problem with installing html-webpack-plugin in version 3.2.0.

I didnt try other versions, so i dont know exactly, which version caused the problem.

[2020-08-27 12:26] fr0m commented on #148
Found someting in html-webpack-plugin@4.0.0 change log:

*Renamed beforeHtmlGeneration hook to beforeAssetTagGeneration*

And autodll inject rely on that hook, I think it's the reason.

[2020-09-18 02:59] fariellany commented on #148
you are right

[2020-09-18 03:00] fariellany commented on #148
you are right

[2020-09-18 03:01] fariellany commented on #148
Reduce your HtmlWebpackPlugin version  less then 4.0

[2020-09-18 03:31] fariellany opened #149 "add path parameter html script src can add /"
new AutoDllPlugin({
            inject: true, // 设为 true 就把 DLL bundles 插到 index.html 里
            filename: '[name].dll.js',
            context: PROJECT_PATH,
            path: 'js/dll',
            entry: {
                reactDll: [
                    'react',
                    'react-dom',
                ]
            }
        })

//html
  <script src=/js/dll/reactDll.dll.js></script>

[2020-10-01 10:49] YooYooY commented on #148
try
[code]

[2021-01-11 03:11] zhouyicc opened #150 "Cannot add property autodllStatsRetrieved, object is not extensible"
Configuration is as follows :
`
new autoDllWebpackPlugin({
    inject: true, // will inject the DLL bundles to index.html
    filename: '[name].js',
    entry: {
      vendor: [
        'react',
        'react-dom'
      ]
    }
  })
`

[2021-01-22 11:00] littlee opened #151 "how to use this plugin with create-react-app & craco ?"
create-react-app and craco are popular tools when developing react app, an integrate example with those tools would be nice.

I've tried the config below, but it doesn't works

[code]

[2021-06-21 19:43] tommoor commented on #150
Same issue, error is at `node_modules/autodll-webpack-plugin/lib/plugin.js:115:44` if useful

[2021-06-25 05:49] #44 closed

[2021-08-02 01:58] #110 closed

[2022-01-18 13:05] yanghuanrong commented on #150
没有解决吗？